{% extends "base.html" %}

{% block main %}

    <h2>Please enter token</h2>
    <p>A token was sent to your phone number: {{ current_user.phone }}</p>

<form method="POST" class="form-inline" action={{ url_for('register',_external=True) }}>
    {{ form.hidden_tag() }}
    <div class="form-group">{{ form.token(size=10, class_="form-control", placeholder="Token", type="number",pattern="[0-9]*",inputmode="numeric") }}</div>
    <div class="form-group"><button type="submit" class="btn btn-default">Submit</button></div>
</form>

    <p>If necessary you can resend the token <a href="{{ url_for('resend_token',_external=True) }}">here.</a></p>

{% endblock %}